.DS_Store
HospitalWaste/template/app/gradle/wrapper/gradle-wrapper\.jar

HospitalWaste/template/app/gradle/wrapper/gradle-wrapper\.properties

HospitalWaste/template/app/gradlew

HospitalWaste/template/app/gradlew\.bat
